*{
    margin: 0;
    padding: 0;
}

.header{
     padding: 2%;
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     align-items: center;
     font-family: 'Open Sans', sans-serif;
     background-color:grey;
    }

.imagenlogo{
     width: 8%;
     margin-left: 7px; 
     margin-top: 7px;
}

nav{
    width: 40%;
    margin-right: 20px;
    float: right;

}
nav ul li{
   list-style: none;
   margin-left: 75px;
   padding: 12px 0;
   float: left;
   position: relative;
    
    }

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background:white;
    height: 1px;
    top: 0;
    position: absolute; 
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;

    
}
/*pagina principal*/

.contenido{
    display: contents;
}
h1{
    text-align: center;
    margin: 70px;
    letter-spacing: 7px;
    font-size: 600%;
    font-family: 'Rubik Glitch', cursive;
}

h2 {
    text-align: end;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 200;
    font-family: 'Open Sans', sans-serif;}
 .ojo{
     width: 75%;
     height: 75%;
     margin-left: 180px;
     margin-top: 130px;
     shape-image-threshold: 3px;
    }

    h3 {
        margin-top: 150px;
        margin-left: 20px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

.textoprincipal{
 
    display: flex;
    margin-top: 20px;
    margin-left: 20px;   
    text-decoration: gray;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
     }
    
.fotos{
    width: 100%;
    cursor: pointer;
}

.grid{
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 2 rem;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 500px);
    grid-template-areas: "ele2 ele1 ele1"
                         "ele2 ele3 ele3"
                         "ele2 ele4 ele5";
    gap: 0.3rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.grid_hijo{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.grid_look{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.grid_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_hijo--1{
    background-color: yellow;
    grid-area: ele1;
}
.grid_hijo--2{
    background-color:red;
    grid-area: ele2;
}
.grid_hijo--3{
    background-color: blue;
    grid-area: ele3;
}
.grid_hijo--4{
    background-color: green;
    grid-area: ele4;

}
.grid_hijo--5{
    background-color: grey;
    grid-area: ele5;
}
/*hi there page*/

h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 150px;
    font-weight: 500;
}
.textoprincipalhithere {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;   
        text-decoration: gray;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        margin-top: 150px;
     }
.gradientbodyhi {
    background-image: linear-gradient(to left, grey, white);
}

/*about us page */

h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 150px;
    font-weight: 500;
}
.textoprincipalaboutus {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;   
    text-decoration: gray;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    margin-top: 150px;
 }
.gradientbodyaboutus{
    background-image: linear-gradient(to right, grey, white);

}
/*contact us page */

h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 150px;
    font-weight: 500;
}
.textoprincipalcontactus {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;   
        text-decoration: gray;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        margin-top: 150px;
     }

/* works page */

.contenido2{
    width: 100%;
    
}
.contenido3{
   
    margin-top: 150px;
    

}
.imagenesworks{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5rem;
    
 }

.imagenesworks img:hover{
    transform: scale(1.5);
}
.imgworks{
    padding: 10px;
    line-height: 80px;
    width: 600px;
    height: 600px;
    cursor: pointer;
    
}
.gradientbodyworks{
    background-image: linear-gradient(to top, grey, white);

}
footer{
    display: flex; 
    flex-direction: row;
    justify-content: space-between; }

.despedida{
    display: flex;
    margin-top: 100px;
    margin-left: 20px; 
    margin-bottom: 100px;  
    text-decoration: gray;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}
