footer {
  padding-top: 150px;
  padding-bottom: 50px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;

 
}

  $rrss: (
  facebook: #55acee,
  tumblr: rgb(64, 0, 255),
  instagram: #c92d8f,
  
);

@each $nombre, $color in $rrss {

  .#{$nombre} {
    background-color: $color;
    margin: 0.5px;
    padding: 10px;
    color: $bgcolor;
    border-radius: 10px;
  }
  
}
  
