footer {
  
  font-family: "Open Sans", sans-serif;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
  background-color: $bgcolor2;
  border-radius: 3px;
 
}

.redessociales{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
}


  $rrss: (
  facebook: #1B4F72,
  tumblr: #0E6251,
  instagram: #0B5345,
  

  
);

@each $nombre, $color in $rrss {

  .#{$nombre} {
    background-color: $color;
    margin: 3px;
    padding: 6px;
    color: $bgcolor;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Rubik Glitch", cursive;

  }
  
}
  
